<launch>

  <!-- load the controllers -->
  <node name="hg_agv_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/hg_agv" args="--namespace=/hg_agv
            joint_state_controller"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find hg_agv_gazebo)/config/hg_agv_ros_control.yaml" command="load"/>

</launch>
