<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find hg_agv_description)/urdf/hg_agv.xacro'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hg_agv_description)/launch/hg_agv.rviz"/>
</launch>
